<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Demo WebRTC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/bundle.js'></script>
</head>

<body>
    <h1>Demo WebRTC</h1>
    <video id="localStream" width="300" controls>
    </video>
    <br /><br />
    <video id="friendStream" width="300" controls>
    </video>
    <br /><br />
    <label>My Connection Token</label>
    <br /><br />
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <br /><br />
    <input type="text" placeholder="Your friend's signal" id="txtFriendSignal" />
    <br /><br />
    <button id="btnConnect">Connect</button>
</body>

</html>