<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Demo WebRTC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src='/js/jquery.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/bundle.js'></script>
</head>

<body>
    <h1>Demo WebRTC</h1>
    <video id="localStream" width="300" controls>

    </video>
</body>

</html>